{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>New Client</title>
		<link rel="stylesheet" type="text/css" href='{% static "clients/style.css" %}'>
		<script src='{% static "clients/script.js" %}'></script>
	</head>
	<body>
		<h1>New Client</h1>		
		<div class="container">
		<br/>
			<form action="{% url 'clients:new' %}" method="POST">
			{% csrf_token %}
				<p><label for="name">Name :</label><input type="text" name="name"/></p>
				<p><label for="email">Email :</label><input type="text" name="email"/></p>
				<p><label for="description">Description :</label><input type="text" name="description"/></p>
				<p><label for="profile_img">Profile Image :</label><input type="text" name="profile_img" /></p>
				<p><label for="weight">Weight :</label><input type="text" name="weight" /></p>
				<p><input type="submit" value="Save" /></p>
			</form>
		</div>
	</body>
</html>